<footer>
  <div class="footer__wrapper">
    <h1 class="footer__logo">Inisiasi</h1>
    <h6 class="footer__text">
      Made with <span class="red">❤</span> by Sie. IT & Multimedia Dokumentasi
    </h6>
    <p class="footer__copyright">
      Hak cipta © 2020 oleh Panitia Inisiasi FTI UAJY 2021
    </p>
  </div>
</footer>