---
layout: 'base.njk'
---
<div class="beranda__post__full">
    <div class="beranda__card__full">
      <h4 class="card--title--full">{{title}}</h4>
      <div class="card--content--full">{{ content | safe }}</div>
    </div>
</div>
